.btn-default-colour{
    transition-duration: 0.4s;
    background-color:$colour-btn-background-colour;
    color:$colour-btn-text;
    font-weight: bold;
    font-size:15px;
    padding: 14px 25px;
    border-radius: 5px;
   
     text-decoration: none;
    &:hover{
        
        color:$colour-btn-text-hover;
        background-color:$colour-btn-background-hover; 
    }
}


