@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel');

//Font Families
$league-gothic:'League Gothic', sans-serif;
$nunito:'Nunito', sans-serif;
$cedarville-cursive:'Cedarville Cursive', sans-serif;
$abel:'Abel', sans-serif;

//Site Typograpghy For Fonts
$font-family-name-heading:$league-gothic;
$font-family-name-catchphrase:$nunito;
$font-family-heading:$abel;
$font-family-test:$cedarville-cursive;
$font-family-text:$nunito;

h1{
font-size:120px !important;
		
}

h2{
		font-size:80px !important;
}

h3{
	font-size:60px !important;
 }

h1,h2,h3 {
		color:$colour-text-name-heading;
		// font-size: $font-size-name-heading;
		font-family:$font-family-name-heading;
	 
}

.bold-text{
	font-weight: bold;
}

.text-left{
	  text-align: left;
}

.text-center{
	text-align:center;
}

p{
	color: $colour-default-text;
	font-size: $font-size-default;
	font-family: $font-family-text;
	 
}

.hi{
	font-weight: bold;
	font-size:$font-size-hi;
	color:$colour-text-hi;
	font-family: $font-family-text;
	text-align: left !important;

}

.name-catchphrase{
	font-family:$font-family-name-catchphrase;
	font-size: $font-size-name-catchphrase;
	font-weight: bold;
	color:$colour-name-catchphrase;
	text-align: left !important;
}

p.copyright{
	text-align:center; 
	color:$colour-azure-x-11-web;
}

a.copyright {
	color: $colour-copyright-text;
	&:visited, &:link{
			color:$colour-link-copyright-text;
	}

	&:hover{
		color: $colour-link-copyright-text-hover;
	}
}

a.tab-content{
	color:$colour-link-text;   

	&:hover{
		color:$colour-link-text-hover; 
	}

	&:active, &:visited &:link{
		color:$colour-link-text;
	} 
}