/*COLOURS*/
$colour-celadon-green:#268474;
$colour-rich-black-forra-29:#0b131d;
$colour-blue-green:#1E584C;
$colour-tropical-rain-forest:#226C5D;
$colour-azure-x-11-web:#F6FEFF;
$colour-charleston-green:#212A29;
$colour-xandu:#7c8877;
$colour-eerie-black:#121616;
$colour-dark-slate-gray:#335850;
$colour-sonic-sliver:#717171;
$colour-light-gray:#C7D3D5;

$img-main-background: url(../../Images/zr-github-bg.png);

/*Site Elements Colours*/
$colour-tab-background:$colour-azure-x-11-web;
$colour-tab-link-text:$colour-charleston-green;
$colour-tab-link-background:$colour-sonic-sliver;
$colour-tab-link-active-text:$colour-charleston-green;
$colour-tab-link-active-background:$colour-azure-x-11-web;
$colour-tab-link-hover-text:$colour-azure-x-11-web;
$colour-tab-link-hover-background:$colour-celadon-green;
$colour-btn-text:$colour-azure-x-11-web;

$colour-btn-background-colour:$colour-tropical-rain-forest;
$colour-btn-background-hover:$colour-dark-slate-gray;
$colour-btn-text-hover:$colour-light-gray;

$colour-link-text:$colour-tropical-rain-forest;
$colour-link-text-hover:$colour-celadon-green;
$colour-copyright-text:$colour-azure-x-11-web;
$colour-link-copyright-text:$colour-azure-x-11-web;
$colour-link-copyright-text-hover:$colour-xandu;
$colour-default-text:$colour-eerie-black;
$colour-text-name-heading:$colour-tropical-rain-forest;
$colour-name-catchphrase:$colour-tropical-rain-forest;
$colour-text-heading:$colour-tropical-rain-forest;
$colour-text-hi:$colour-tropical-rain-forest;

/*FONT SIZES*/
//$font-root-default:15px;
$font-size-default:1em;
$font-size-hi:1.5em;
$font-size-name-catchphrase:28px;

//PADDING
$padding-default: 10px !default;

$container: 1150px !default;